.ReactModal__Overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}


.ReactModal__Content {
    position: absolute; 
    width: 70%;
    height: 80%;
    margin: auto;
    top: 60%;
    overflow: auto;
    background-color: #fff;
    -webkit-transform: translate(-50,-50%);
    transform: translate(-50,-50%);
}

@media screen and (min-width: 992px) { 
    .modal.modal-content {
        max-width: 200px;
        max-height: 80%;
    }
}

.ReactModal__Content,
    .ReactModal__Content--after-open{
    width: 760px
}
input:focus {
    outline:none;
}